/**SEARCH**/

.search {
    text-align: center;
    padding-top: 150px;
}

.hotdog {
    background-color: white;
    border-radius: 10px;
    width: 300px;
    height: 50px;
    outline: 0;
    border: 0;
    box-shadow: 0 2px 30px rgba(0,0,0,0.1);
    text-align: center;
    font-family: aktiv-grotesk,sans-serif;
    font-weight: 400;
    font-style: normal;
}

.hotdog:hover {
    box-shadow: 0 2px 50px rgba(0,0,0,0.2);
}

/**FIGURES**/

.figures {
    display: flex;
    padding-top: 50px;
    justify-content: center;
    padding-right: 50px;
}

.figure {
    border-radius: 15px;
    box-shadow: 0 2px 30px rgba(0,0,0,0.1);
    overflow: hidden;
    width: 300px;
    height: 310px; 
}

.figure:hover {
    box-shadow: 0 2px 50px rgba(0,0,0,0.2);
}

figcaption {
    font-family: aktiv-grotesk,sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.fig {
    padding-left: 0px;
}

body {
    margin: 0px;
}